---
import ActivateAccountForm from "../components/ActivateAccountForm";
import CenteredLayout from "../layouts/CenteredLayout.astro";

const username = Astro.cookies.get("username")?.value;
const role = Astro.cookies.get("role")?.value;

if (role !== "user") {
  return Astro.redirect("/");
}
---

<CenteredLayout title="Welcome to Car Shop">
  <h1 class="my-2 text-center text-3xl font-medium text-indigo-200">
    Welcome, {username}.
  </h1>
  <p class="mb-8 max-w-[42ch] text-center text-lg font-medium text-indigo-200">
    Your account has not been activated, you need activated to use the app,
    please enter new password to activate your account
  </p>
  <ActivateAccountForm client:only="react" />
</CenteredLayout>
