---
import LoginForm from "../components/LoginForm";
import CenteredLayout from "../layouts/CenteredLayout.astro";
---

<CenteredLayout title="Welcome to Car Shop">
  <h1 class="my-2 text-center text-3xl font-medium text-indigo-200">
    Welcome to Car Shop
  </h1>
  <p class="mb-8 text-center text-2xl font-medium text-indigo-200">
    Please enter your username to login.
  </p>
  <LoginForm client:only="react" />
</CenteredLayout>
